<div class="filter">
  <div class="filter-container">
    <h1 class="filter-title">extensions list</h1>
    <div class="filter-btns-group">
      <label
        class="filter-btns-group--btn"
        tabindex="0"
        [class.active]="inStock === 'all'"
      >
        <input
          style="display: none"
          type="radio"
          value="all"
          name="stock"
          (change)="changeFilterType()"
          [(ngModel)]="inStock"
        />
        all</label
      >
      <label
        tabindex="0"
        class="filter-btns-group--btn"
        [class.active]="inStock === 'active'"
      >
        <input
          style="display: none"
          type="radio"
          value="active"
          name="stock"
          (change)="changeFilterType()"
          [(ngModel)]="inStock"
        />
        Active</label
      >
      <label
        tabindex="0"
        class="filter-btns-group--btn"
        [class.active]="inStock === 'in-active'"
      >
        <input
          style="display: none"
          type="radio"
          value="in-active"
          name="stock"
          (change)="changeFilterType()"
          [(ngModel)]="inStock"
        />
        Inactive</label
      >
    </div>
  </div>
</div>
