<div class="card">
  <div class="card-content">
    <img src="assets/devlens_icon.png" class="card-content__image" />
    <div class="card-content__text">
      <h3 class="card-content__text--title">DevLens</h3>
      <p class="card-content__text--description">
        Quickly inspect page layouts and visualize element boundaries.
      </p>
    </div>
  </div>
  <div class="card-settings">
    <div class="card-settings__remove-btn">remove</div>
    <div class="card-settings__toggle-btn"></div>
  </div>
</div>
