@use "../../../scss/variables" as vars;

.header {
  .container {
    max-width: 117rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1.2rem;
    border-radius: 1rem;
    background-color: vars.$neutral-800;

    .logo img {
      height: 4.1rem;
    }

    .theme-switch-btn {
      width: 5rem;
      height: 5rem;
      border-radius: 1.2rem;
      background-color: vars.$neutral-700;

      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.2s;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px vars.$neutral-900, 0 0 0 4px vars.$red-400;
        background-color: vars.$neutral-600;
      }

      &:hover {
        background-color: vars.$neutral-600;
      }

      .icon {
        width: 2.2rem;
        height: 2.2rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    .container {
      padding: 1.2rem 1.6rem;
      border-radius: 2rem;
    }
  }
}
