.main {
  &-container {
    max-width: 117rem;
    margin: 0 auto;

    display: grid;
    gap: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .main {
    &-container {
      grid-template-columns: repeat(2, 50%);
    }
  }
}

@media screen and (min-width: 1440px) {
  .main {
    &-container {
      grid-template-columns: repeat(3, 33.3334%);
    }
  }
}
