@use "../../../scss/variables" as color;
@use "../../../scss/mixins" as mixin;

.main {
  &-container {
    max-width: 117rem;
    margin: 0 auto;

    display: grid;
    gap: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .main {
    &-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 1440px) {
  .main {
    &-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.card {
  height: 20rem;
  background-color: color.$neutral-800;
  border-radius: 2rem;
  border: 0.1rem solid color.$neutral-600;
  overflow: hidden;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-content {
    display: flex;
    column-gap: 1.6rem;

    &__image {
      width: 6rem;
      height: 6rem;
      border-radius: 1rem;
    }

    &__text {
      display: flex;
      flex-direction: column;
      row-gap: 0.8rem;
      &--title {
        color: color.$neutral;
        @include mixin.text-preset-2;
      }

      &--description {
        @include mixin.text-preset-5;
        color: color.$neutral-300;
      }
    }
  }

  &-settings {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__remove-btn {
      padding: 0.8rem 1.6rem;
      border-radius: 99.9rem;
      border: 0.1rem solid color.$neutral-600;
      @include mixin.text-preset-6;
      color: color.$neutral;
      background-color: color.$neutral-800;
      text-transform: capitalize;
      cursor: pointer;
      transition: all 0.2s;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px color.$neutral-900, 0 0 0 4px color.$red-400;
        border-color: transparent;
        background-color: color.$neutral-600;
      }

      &:hover {
        background-color: color.$red-400;
        border-color: color.$black;
        color: color.$neutral-900;
      }
    }

    &__toggle-btn {
      width: 3.6rem;
      height: 2rem;
      border-radius: 99.9rem;
      background-color: color.$neutral-600;
      padding: 0.2rem;
      cursor: pointer;
      transition: all 0.2s;

      &::after {
        content: "";
        display: block;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 99.9rem;
        background-color: color.$neutral;
        box-shadow: 0 1px 3px 0 rgba(10, 13, 18, 0.149),
          0 1px 2px -1px rgba(10, 13, 18, 0.15);
        transition: all 0.2s;
      }

      &.active {
        background-color: color.$red-400;
      }

      &.active::after {
        box-shadow: 0 1px 3px 0 rgba(10, 13, 18, 0.3),
          0 1px 2px -1px rgba(10, 13, 18, 0.3);
        transform: translateX(100%);
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px color.$neutral-900, 0 0 0 4px color.$red-400;
      }
    }
  }
}
