<main class="main">
  <div class="main-container">
    @for (extension of extensions; track extension.id) {
    <div class="card">
      <div class="card-content">
        <img [src]="extension.imageUrl" class="card-content__image" />
        <div class="card-content__text">
          <h3 class="card-content__text--title">{{ extension.title }}</h3>
          <p class="card-content__text--description">
            {{ extension.description }}
          </p>
        </div>
      </div>
      <div class="card-settings">
        <div
          class="card-settings__remove-btn"
          (click)="removeExtension(extension.id)"
          tabindex="0"
        >
          remove
        </div>
        <div
          tabindex="0"
          class="card-settings__toggle-btn"
          [class.active]="extension.isActive"
          (click)="makeActive(extension)"
        ></div>
      </div>
    </div>
    }
  </div>
</main>
